/* brand colors (b) */
.bg-b-purple-1 {
  background: #201e39;
}
.b-purple-1 {
  color: #201e39;
}
.shadow-custom {
  box-shadow: 1px 2px 13px 0px rgba(50, 50, 50, 1);
}
.bg-active {
  background: rgb(100, 103, 156);
}
.hidden {
  transform:translate(9999px);
  opacity: 0;
  display: none;
}
.shown {
  transition: opacity 0.3s ease-in;
  transform: translate(0);
  opacity: 1;
  display: block;
}
.left-triangle:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: -900px;
  position: absolute;
  z-index: -1;
  left: -50px;
  top: 50%;
  pointer-events: none;
  border: 900px solid transparent;
  border-left-color: #000;
  border-left-width: 300px;
}
.left-triangle {
width: 200px;
height: 100%;
position: absolute;
z-index: 3;
left: 0;
top: 0;
}
